

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h2>{{'CHOOSE_PRODUCT' | translate}}</h2>

    <div data-ng-show="error" class="alert alert-danger" role="alert">
      {{'ERROR' | translate}}: {{ error }}.
    </div>

    <table class="table">
      <tr data-ng-repeat="t in data"
        data-ng-class="{'success': i.amount > 0, 'warning': i.amount < 0}">
        <td><span class="glyphicon"
          ng-class="{'glyphicon-transfer': t.cat !== 2, 'glyphicon-flag': t.cat === 2}"
          ></span> {{ t.desc }}</td>
        <td>{{ t.amount }} Kč</td>
        <td>
          <button class="btn btn-primary"
            ng-disabled="t.amount > loggedUser.credit"
            data-ng-click="buy(t);"
          >
            <span class="glyphicon glyphicon-usd"></span> {{'BUY' | translate}}
          </button>
        </td>
      </tr>
    </table>

  </div>

</div>
